In [2]:
import pandas as pd
import requests
from io import BytesIO
import gzip

# URL du fichier IMDB (par exemple title.basics.tsv.gz)
url = "https://datasets.imdbws.com/title.akas.tsv.gz"

# Télécharger le fichier
response = requests.get(url)
response.raise_for_status()  # Vérifie que le téléchargement s'est bien passé

# Décompresser et charger dans un DataFrame
with gzip.open(BytesIO(response.content), 'rt') as f:
    df = pd.read_csv(f, sep='\t')

In [3]:
df_akas=df.copy()

In [4]:
df_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
50439851,tt9916852,7,エピソード #3.20,JP,ja,\N,\N,0
50439852,tt9916852,8,Episodio #3.20,ES,es,\N,\N,0
50439853,tt9916856,1,The Wind,\N,\N,original,\N,1
50439854,tt9916856,2,The Wind,DE,\N,imdbDisplay,\N,0
50439855,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1

In [5]:
df_akas.drop(df_akas[df_akas['region'] == '\\N'].index, inplace=True)

In [6]:
df_akas[df_akas['region']=='US']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
13,tt0000002,6,The Clown and His Dogs,US,\N,\N,literal English title,0
19,tt0000003,3,Poor Pierrot,US,\N,imdbDisplay,\N,0
39,tt0000005,3,Blacksmith Scene,US,\N,imdbDisplay,\N,0
41,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
...,...,...,...,...,...,...,...,...
50439260,tt9916560,2,March of Dimes Presents: Once Upon a Dime,US,\N,imdbDisplay,\N,0
50439356,tt9916620,2,The Copeland Case,US,\N,imdbDisplay,\N,0
50439476,tt9916702,2,Loving London: The Playground,US,\N,\N,\N,0
50439539,tt9916756,2,Pretty Pretty Black Girl,US,\N,imdbDisplay,\N,0
50439558,tt9916764,2,38,US,\N,imdbDisplay,\N,0

In [7]:
df_filtered = df[(df['language'] == 'fr') | (df['language'] == 'en')]

In [8]:
df_filtered

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
38,tt0000005,2,Blacksmith Scene,CA,en,imdbDisplay,\N,0
89,tt0000010,2,La sortie de l'usine Lumière à Lyon,CA,en,imdbDisplay,\N,0
120,tt0000012,21,The Arrival of a Train at La Ciotat,XWW,en,alternative,\N,0
130,tt0000012,4,The Arrival of a Train,XEU,en,imdbDisplay,\N,0
132,tt0000012,6,The Arrival of a Train,XWW,en,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
50439816,tt9916844,4,Épisode #3.15,FR,fr,\N,\N,0
50439824,tt9916846,4,Épisode #3.18,FR,fr,\N,\N,0
50439832,tt9916848,4,Épisode #3.17,FR,fr,\N,\N,0
50439840,tt9916850,4,Épisode #3.19,FR,fr,\N,\N,0
50439848,tt9916852,4,Épisode #3.20,FR,fr,\N,\N,0

In [10]:
df_filtered[df_filtered['region']=='US']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
3496,tt0000969,11,Les Misérables,US,en,\N,\N,0
17853,tt0005809,7,The Governor,US,en,\N,\N,0
26235,tt0008305,11,Les Misérables,US,en,\N,\N,0
32536,tt0009968,45,Broken Blossoms,US,en,\N,\N,0
76414,tt0018455,50,Sunrise,US,en,\N,\N,0
...,...,...,...,...,...,...,...,...
50395969,tt9896876,20,India Sweets and Spices,US,en,\N,\N,0
50423177,tt9909874,8,Halloween: Resurrection - On the Set with Jami...,US,en,\N,\N,0
50423220,tt9909916,9,Halloween: Resurrection - Tour of Set with Pro...,US,en,\N,\N,0
50423244,tt9909954,8,Halloween: Resurrection - Head Cam Featurette,US,en,\N,\N,0
50423372,tt9910024,8,Halloween 4 and 5 Cast Panel at the H25 Conven...,US,en,\N,\N,0